// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.front {

    .page--content {
        @include grid-container;
         @include grid-media ($small) {

        }
    }
    .scrim {
        padding: 0 0 20em 0;
    }
    .gallery--front {
        padding: 0 1em 1em;
    }

}

.home {
    @include grid-media($large) { // half page width on 488px and above
        @include grid-column(3);
        padding-right: 60px;
    }
}

.blog--home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.blog--excerpt {
    padding: 0 1em;
}
// grid stuff
@supports (display: grid) {

  @include grid-media($large) {
    .home--excerpt {
      display: block;
      //grid-template-columns: 1fr 2fr;
      //grid-gap: 1rem;
    }
  }
}